<!-- rework with https://github.com/StartBootstrap/startbootstrap-blog-post/blob/master/src/pug/index.pug -->

<!-- Page content-->
<!-- <ul> -->

      <div class="col">
        <% posts.forEach(function(post) { %>
        <!-- Post content -->
        <article>
        <!-- Post header-->
        <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1"><%= post.title %></h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2"><%= post.date %></div>
        <!-- Post categories-->

        
          <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%= post.tag %></a>
        
        </header>
        <!-- Post content-->
        <!-- <li> -->
        
        <!-- Preview image figure-->
        <div class="container">
          <div class="row">
        <% post.pictures.forEach(function(picture) { %>
        <div class="col-md-4 mt-3 col-lg-4">
          <figure class="shadow-lg p-3 mb-5 bg-body rounded"><img class="img-fluid rounded " src="<%= 'http://morozovme.com:1337' + picture.formats.small.url %>"></figure>
        </div>
        <% }); %>
          </div>
        </div>
        <section class="mb-5">
        <p class="fs-5 mb-4"><%= post.text %></p>

        <% post.music.forEach(function(song) { %>
        <figure>
          <figcaption><%= song.name %></figcaption>
          <audio preload="none"
              controls
              src="<%= 'http://morozovme.com:1337' + song.url %>">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
        </figure>
        <% }); %>


        </section>
        <!-- </li> -->
        </article>
        <% }); %>
      </div>
      

<!--   </ul> -->

