<!-- rework with https://github.com/StartBootstrap/startbootstrap-blog-post/blob/master/src/pug/index.pug -->

<!-- Page content-->
<!-- <ul> -->

      <div class="col  blog-main">
        <h1 class="pb-3 mb-4 font-italic border-bottom">
          Blog
        </h1>
        <% posts.reverse().forEach(function(post) { %>
        <!-- Post content -->
        <article>
        <!-- Post header-->
        <header class="mb-4">
        <!-- Post title-->
        <h2 class="blog-post-title"><%= post.title %></h2>
        <!-- Post meta content-->
        <div class="blog-post-meta"><%= post.date %></div>
        <!-- Post categories-->
          <a class="badge bg-secondary text-decoration-none link-light" href="https://vk.com/mikefrostov"><%= post.tag %></a>
        </header>
        <!-- Post content-->
        <!-- <li> -->
        
        <!-- Preview image figure-->
        <div class="container">
          <div class="row">
          <% post.pictures.forEach(function(picture) { %>
            <div class="col-md-4 mt-3 col-lg-4">
              <figure class="shadow-lg p-3 mb-5 bg-body rounded"><img class="img-fluid rounded " src="<%= 'http://media.mikefrostov.io' + picture.formats.small.url %>"></figure>
            </div>
          <% }); %>
          </div>
        </div>
        <% if(post.text) { %>
        <section class="mb-5 bg-cover">
          <button class="btn btn-primary border border-primary border-5" type="button" data-bs-toggle="collapse" data-bs-target="#b<%= post.id %>" aria-expanded="false" aria-controls="<%= post.id %>" >
            Тыц
          </button>
          <br>
          <div class="collapse" id="b<%= post.id %>">
            <div class="card card-body">
              <p class="fs-6 mb-4 bg-transparent shadow-lg p-3 mb-5 rounded"> <%= post.text %></p>
            </div>
          </div>
        <% }; %>

        <% post.video.forEach(function(video) { %>
          <div class="overlay">
            <div class="title">
              <%= video.name %>
            </div>
          </div>
          <div class="ratio ratio-21x9 bg-dark">
            <video controls src="<%= 'http://media.mikefrostov.io' + video.url %>"></video>
          </div>
        <% }); %>

        <br>
        
        <% post.music.forEach(function(song) { %>
        <figure>
          <figcaption><%= song.name %></figcaption>
          <audio preload="none"
              controls
              src="<%= 'http://media.mikefrostov.io' + song.url %>">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
        </figure>
        <% }); %>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <script>
          function onlyPlayOneIn(container) {
            container.addEventListener("play", function(event) {
            audio_elements = container.getElementsByTagName("audio");
              for(i=0; i < audio_elements.length; i++) {
                audio_element = audio_elements[i];
                if (audio_element !== event.target) {
                  audio_element.pause();
                }
              }
            }, true);
          }

          function playNext(container) {
            container.addEventListener("ended", function(event) {
            audio_elements = container.getElementsByTagName("audio");
              for(i=0; i < audio_elements.length; i++) {
                audio_element = audio_elements[i];
                if (audio_element == event.target) {
                  audio_element = audio_elements.item(i+1);
                  audio_element.play();
                }
              }
            }, true);
          }
          
          document.addEventListener("DOMContentLoaded", function() {
            onlyPlayOneIn(document.body);
          });
          document.addEventListener("DOMContentLoaded", function() {
            playNext(document.body);
          });
        </script>

        </section>
        <!-- </li> -->
        </article>
        <% }); %>
      </div>
      

<!--   </ul> -->

