<%- include('./partials/_head'); %>

  <!-- old body: 
  <body>
    <h1>This is index page!</h1>
    <a> hey </a>
  </body>
  --> 
  <!-- new body with ejs: -->
  <body>
  <%- include('./partials/_nav'); %>

    <div class="container mt-2">

      <%- include('./partials/_junk'); %>


      <%- include('./partials/_footer'); %>
    </div>
  </body>
  <%- include('./partials/_end'); %>


