<%- include('./partials/_head'); %>
  <body class="d-flex flex-column min-vh-100">
  <%- include('./partials/_nav'); %>

    <div class="container mt-2">
      <header>
        <h2>Welcome</h2>
        <p>Here is the homepage for <%= entity %></p>
      </header>

      
    </div>
    <%- include('./partials/_footer'); %>
  </body>
<%- include('./partials/_end'); %>

