<%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <br>
          <h2> <%= entity %> </h2>

          <hr>

          <br>
          <% categories.forEach(function(category) { %>
          <br>
          <h3> <%= category.name %> </h3>
          
          <br>
          
          <% category.projects.forEach(function(project) { %>
            <div class="list-group">
              <a href="<%= project.projUrl %>" class="list-group-item">
              <h4 class="list-group-item-heading"> <%= project.title %> </h4>
                <p class="list-group-item-text"> <%= project.description %> </p>
              </a>
            </div>
            <% }); %>
            <br>
            
            <br>
          <% }); %>
        </div>
      </div>
    </div>
    <br>
    <hr>
  
    <%- include('./partials/_footer'); %>
  </body>
<%- include('./partials/_end'); %>



