<%- include('./partials/_head'); %>
  <body>
    <%- include('./partials/_nav'); %>
  
    <div class="container">
    <div class="row">
    <div class="col-lg-8">
    <br>
    <h2> <%= entity %> </h2>

    <hr>

    <br>

<h3> Web-app Development </h3>
<div class="list-group">

  <a href="/nodejs-blogapp" class="list-group-item">
  <h4 class="list-group-item-heading"> Nodejs blog app </h4>
  <p class="list-group-item-text"> blog.morozovme.com </p>
  </a>

  <a href="python-flask" class="list-group-item">
  <h4 class="list-group-item-heading"> Python Flask blog </h4>
  <p class="list-group-item-text"> Blogging app written along with API </p>
  </a>

  <a href="/sitik" class="list-group-item">
  <h4 class="list-group-item-heading">Front-end playground</h4>
  <p class="list-group-item-text"> sitik.morozovme.com </p>
  </a>

  <a href="/koareact" class="list-group-item">
  <h4 class="list-group-item-heading"> Reactjs to-do list </h4>
  <p class="list-group-item-text"> Koajs Reactjs Postgres Nodejs to-do app </p>
  </a>

  <a href="/jquery" class="list-group-item">
  <h4 class="list-group-item-heading"> JQuery </h4>
  <p class="list-group-item-text"> Landing page project for a friend usind JQuery, php and postfix. </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Rust (to-do)</h4>
  <p class="list-group-item-text"> Rust study projects and microservices. </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Fast-API (to-do)</h4>
  <p class="list-group-item-text"> Learning new and fancy Python Fast-API framework </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Deno (to-do) </h4>
  <p class="list-group-item-text"> Nodejs made right + typescript </p>
  </a>
  
  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Microfrontends (to-do) </h4>
  <p class="list-group-item-text"> Separate react components for different services </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Websockets messenger app (to-do) </h4>
  <p class="list-group-item-text"> Real time websocket duplex app </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Vuejs Graphql Gridsome (to-do) </h4>
  <p class="list-group-item-text"> Example app from a tutorial about gridsome stack </p>
  </a>
    
  
  <a href="/l2j" class="list-group-item">
  <h4 class="list-group-item-heading"> L2j server </h4>
  <p class="list-group-item-text"> mmorpg java game server hosting </p>
  </a>


</div>

<br>

<h3> Continuous Integration / Deployment</h3>
<div class="list-group">
  <a href="/jenkins" class="list-group-item">
  <h4 class="list-group-item-heading">Jenkins</h4>
    <p class="list-group-item-text"> jenkins.morozovme.com </p>
  </a>

  <a href="#" class="list-group-item disabled">
    <h4 class="list-group-item-heading">Gitlab CI (to-do) </h4>
      <p class="list-group-item-text"> gitlab.morozovme.com </p>
  </a>

  <a href="#" class="list-group-item disabled">
    <h4 class="list-group-item-heading">Github Actions (to-do)</h4>
      <p class="list-group-item-text"> Using github actions for ci/cd </p>
  </a>

</div>

<br>


<h3> Monitoring </h3>
<div class="list-group">
  <a href="/grafana" class="list-group-item">
  <h4 class="list-group-item-heading">Grafana</h4>
    <p class="list-group-item-text"> grafana.morozovme.com </p>
  </a>

  <a href="/prometheus" class="list-group-item">
  <h4 class="list-group-item-heading"> Prometheus </h4>
    <p class="list-group-item-text"> Infrastructure metrcis using prometheus </p>
  </a>


</div>

<br>

<h3> Infrastructure </h3>
<div class="list-group">
  <a href="/home-lab" class="list-group-item">
  <h4 class="list-group-item-heading">Bare-metal home lab</h4>
    <p class="list-group-item-text">Infrastructure description</p>
  </a>

  <a href="/rvproxy" class="list-group-item">
  <h4 class="list-group-item-heading"> Nginx Reverse proxy </h4>
    <p class="list-group-item-text"> Runs on morozovme.com:80 </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> ELK (to-do)</h4>
    <p class="list-group-item-text"> elasticsearch logstash kibana project </p>
  </a>

  <a href="/ansible" class="list-group-item">
  <h4 class="list-group-item-heading"> Ansible </h4>
    <p class="list-group-item-text"> Configuration management </p>
  </a>


</div>

<br>


<h3> Cloud technologies and virtualization </h3>
<div class="list-group">

  <a href="/kubernetes" class="list-group-item">
  <h4 class="list-group-item-heading"> Kubernetes </h4>
  <p class="list-group-item-text"> DaemonSets, ReplicaSets, StatelessSets, Deployments, Helm charts, Ingress  </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Istio (to-do) </h4>
  <p class="list-group-item-text"> Multi-cluster multi-tenant service mesh </p>
  </a>
  
  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Helm (to-do) </h4>
  <p class="list-group-item-text"> IaC configuration parametrization for k8s-based app deployments </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Ingress (to-do) </h4>
  <p class="list-group-item-text"> HAproxy, nginx and other controllers </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Percona (to-do) </h4>
  <p class="list-group-item-text"> Smart mysql db management </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Vitess (to-do) </h4>
  <p class="list-group-item-text"> Cloud-native mysql/mariadb management solution </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Traefik (to-do) </h4>
  <p class="list-group-item-text"> Network management in k8s </p>
  </a>
  
  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Traefik (to-do) </h4>
  <p class="list-group-item-text"> Network management in k8s </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Chekov (to-do) </h4>
  <p class="list-group-item-text"> IaC configuration parametrization for k8s-based app deployments </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> K8s checklist (to-do) </h4>
  <p class="list-group-item-text"> Production-ready setup and configuration for security and high load </p>
  </a>


  <a href="/docker" class="list-group-item">
  <h4 class="list-group-item-heading"> Docker </h4>
  <p class="list-group-item-text"> DockerHub, builds, images registry, networking </p>
  </a>

  <a href="/vagrant" class="list-group-item">
  <h4 class="list-group-item-heading"> Vagrant </h4>
  <p class="list-group-item-text"> Vagrantfiles, provisioning with ansible </p>
  </a>


</div>

<br>

<h3> Databases </h3>
<div class="list-group">

  <a href="/postgres" class="list-group-item">
  <h4 class="list-group-item-heading"> Postgresql  </h4>
  <p class="list-group-item-text"> Sharding, replication, containerization </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Mongodb (to-do) </h4>
  <p class="list-group-item-text"> Sharding, replication, containerization </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Mysql/mariadb (to-do) </h4>
  <p class="list-group-item-text"> Sharding, replication, containerization </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Memcached (to-do) </h4>
  <p class="list-group-item-text"> In-memory database caching solution </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Redis (to-do) </h4>
  <p class="list-group-item-text"> In-memory database caching solution </p>
  </a>

</div>

<br>

<h3> Programming </h3>
<div class="list-group">

  <a href="/python-linked" class="list-group-item">
  <h4 class="list-group-item-heading"> "MyList" linked-list implementation using python3  </h4>
  <p class="list-group-item-text"> Python Core programming project with unittests </p>
  </a>

  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Rust red-black tree implementation (to-do) </h4>
  <p class="list-group-item-text"> Core Rust data structure implementation </p>
  </a>
  
  <a href="#" class="list-group-item disabled">
  <h4 class="list-group-item-heading"> Java Spring Hibernate (to-do) </h4>
  <p class="list-group-item-text"> Wide-used enterprise java frameworks </p>
  </a>

</div>


</div></div>
</div>
</div>
<br>
<hr>
<%- include('./partials/_footer'); %>
</body>
<%- include('./partials/_end'); %>


