<%- include('./partials/_head'); %>
  <body class="d-flex flex-column min-vh-100">
  <%- include('./partials/_nav'); %>



<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"> <%= entity %> CMS for adding articles </h1>
        <hr>
        <h3><a href="http://morozovme.com/articles">Go to the page</a></h3>
        <br>
        <!-- Author -->
        <p class="lead"> CMS systems like wordpress or strapi save the money and time automating routine CRUD tasks.
            I use strapi for my articles
        </p>
        


        <!-- Preview Image -->
        <img class="img-fluid rounded" src="strapi1.png"  alt="">
        <!-- Post Content -->
        
        <br>

        <img class="img-fluid rounded" src="strapi2.png"   alt="">
         <!-- Post Content -->
        <p class="lead">  Strapi shows entities in a quite concise and straight-forward way. Using admin console you can easily add new 
        content, upload files, write text, posts, use markdown and last but not least add Nodejs-based plugins </p>

        <hr>
        <!-- Post Content -->
        <p class="lead">  </a> </p>

        <img class="img-fluid rounded" src="strapi3.png"  alt="">
        <!-- Post Content -->
        <p class="lead">  </a> </p>

        <hr>
        <!-- Post Content -->
        <p class="lead">   </a> </p>

        <img class="img-fluid rounded" src="strapi4.png"  alt="">
        <!-- Post Content -->
        <p class="lead">   </p>

        <hr>

        <img class="img-fluid rounded" src="strapi5.png"   alt="">
        
        <hr>
        <!-- Post Content -->
        <p class="lead"> Result: </p>
        <img class="img-fluid rounded" src="strapi6.png"   alt="">
        <hr>
        <!-- Post Content -->
        <p class="lead"> Tech stuff, repo: </p>
        <img class="img-fluid rounded" src="strapi7.png"   alt="">
        <!-- Post Content -->
        <p class="lead">  </p>

        <!-- Post Content -->
        <p class="lead"> For strapi-based app I use docker-compose with three services:
            <ul>
                <li> Front-end nodejs app </li>
                <li> Strapi service for back-end </li>
                <li> Mongodb as a database </li>
            </ul> 
        </p>
        <img class="img-fluid rounded" src="strapi8.png"   alt="">

        <hr>

      </div>
    </div>
</div>
<hr>
  <%- include('./partials/_footer'); %>
  </body>
<%- include('./partials/_end'); %>
      
      