<%- include('./partials/_head'); %>
  <body class="d-flex flex-column min-vh-100">
  <%- include('./partials/_nav'); %>

    <div class="container mt-4">
      <header>
        <h2> Vidosiki </h2>
        <p> Streams and other stuff <%= entity %></p>
      </header>

      <iframe width="640" height="480" src="https://www.youtube.com/embed/gPcoC-ECMTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="640" height="480" src="https://www.youtube.com/embed/SfBFEPB_YXo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="640" height="480" src="https://www.youtube.com/embed/wc7dvs9UvD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="640" height="480" src="https://www.youtube.com/embed/OATBNLl4Mv4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <%- include('./partials/_footer'); %>
  </body>
<%- include('./partials/_end'); %>

