<%- include('./partials/_head'); %>
  <body class="d-flex flex-column min-vh-100">
  <%- include('./partials/_nav'); %>

    <div class="container mt-4">
      <header>
        <h2> Vidosiki </h2>
        <p> Streams and other stuff <%= entity %></p>
      </header>

    </div>
    <%- include('./partials/_footer'); %>
  </body>
<%- include('./partials/_end'); %>

