<%- include('./partials/_head'); %>
  <body>
  <%- include('./partials/_nav'); %>

    <div class="container mt-2">
      <header>
        <h2> Vidosiki </h2>
        <p> Streams and other stuff <%= entity %></p>
      </header>
      
      <video class="video-fluid z-depth-1" width="470" height="255" controls>
        <source src="video.mp4" type="video/mp4">
        <source src="video.ogg" type="video/ogg">
        <source src="video.webm" type="video/webm">
        <object data="video.mp4" width="470" height="255">
        <embed src="video.swf" width="470" height="255">
        </object>
      </video>


        <video class="video-fluid z-depth-1" width="470" height="255" controls>
          <source src="video.mp4" type="video/mp4">
          <source src="video.ogg" type="video/ogg">
          <source src="video.webm" type="video/webm">
          <object data="video.mp4" width="470" height="255">
          <embed src="video.swf" width="470" height="255">
          </object>
        </video>

        
        <video class="video-fluid z-depth-1" width="470" height="255" controls>
          <source src="video.mp4" type="video/mp4">
          <source src="video.ogg" type="video/ogg">
          <source src="video.webm" type="video/webm">
          <object data="video.mp4" width="470" height="255">
          <embed src="video.swf" width="470" height="255">
          </object>
        </video>

        <video width="320" height="240" controls>
          <source src="video.mp4#t=0.1" type="video/mp4">
        </video>

<br>

        
<video class="video-fluid z-depth-1" width="470" height="255" controls>
  <source src="video.mp4" type="video/mp4">
  <source src="video.ogg" type="video/ogg">
  <source src="video.webm" type="video/webm">
  <object data="video.mp4" width="470" height="255">
  <embed src="video.swf" width="470" height="255">
  </object>
</video>

<hr>

    </div>
    <%- include('./partials/_footer'); %>
  </body>
<%- include('./partials/_end'); %>

